{% extends 'SpartanBacklogBundle::layout.html.twig' %}

{% block title %}Backlog Items{% endblock %}

{% block header %}
	<div data-role="header">
		<h1>Backlog Items</h1>
	</div>
{% endblock %}

{% block body %}
	<div data-role="content">	
		<ul data-role="listview" data-theme="g">
			{% for item in items %}
 				<li> {{ item.name }} </li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}